.background {
  background: url("../../../assets/black-background.png") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.welcomeText {
  position: absolute;
  top: 30%;
  left: 150px;
  color: white;
}

.software > h2 {
  position: absolute;
  top: 500px;
  left: 0px;
  font-size: 175px;
  padding: 0;
  margin: 0;
}

.developer > h2 {
  position: absolute;
  top: 650px;
  right: 35px;
  font-size: 50px;
  color: white;
  padding: 0;
  margin: 0;
}

.globe {
  position: absolute;
  right: 120px !important;
  top: 5%;
}
