<div class="container-fluid background">
  <app-navbar></app-navbar>
  <div class="welcomeText">
    <h1 style="font-size: 75px">
      <span style="text-decoration: underline; text-decoration-color: #465abe"
        >H</span
      >ello<span style="color: #465abe">,</span>
    </h1>
    <h1 style="font-size: 50px">
      I'm <span style="color: #465abe">B</span>randon
      <span style="color: #465abe">R</span>edmann<span style="color: #465abe"
        >,</span
      >
    </h1>
    <h4 style="color: white; font-size: 25px">Software Developer</h4>
  </div>
  <div class="globe">
    <img src="../../../assets/globe.png" alt="globe" />
  </div>
  <div class="software">
    <h2>Software</h2>
  </div>
  <div class="developer">
    <h2>developer.</h2>
  </div>
</div>
