<div class="navbuttons">
  <svg
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:cc="http://creativecommons.org/ns#"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:svg="http://www.w3.org/2000/svg"
    xmlns="http://www.w3.org/2000/svg"
    height="225.47003"
    width="37.619999"
    id="svg137"
    version="1.1"
    viewBox="0 0 37.619998 198.47003"
  >
    <g
      transform="translate(104.91324,-338.53882)"
      data-name="Layer 2"
      id="aa6d31ea-7fbd-49f1-a9b4-02500b0dfce2"
    >
      <g data-name="Layer 1" id="b57a1332-5659-4057-834d-81cdfd2e0f63">
        <circle
          style="fill: #ffffff"
          id="circle100"
          r="6.0700002"
          cy="357.34882"
          cx="-86.103241"
          (click)="onClick(357.34882)"
        />
        <circle
          style="
            fill: none;
            stroke: #465abe;
            stroke-width: 3;
            stroke-miterlimit: 10;
          "
          id="circle102"
          stroke-miterlimit="10"
          r="17.309999"
          [attr.cy]="value"
          cx="-86.103241"
        />
        <circle
          style="fill: #ffffff"
          id="circle104"
          r="6.0700002"
          cy="400.73883"
          cx="-86.103241"
          (click)="onClick(400.73883)"
        />
        <circle
          style="fill: #ffffff"
          id="circle106"
          r="6.0700002"
          cy="487.53882"
          cx="-86.103241"
          (click)="onClick(487.53882)"
        />
        <circle
          style="fill: #ffffff"
          id="circle108"
          r="6.0700002"
          cy="444.13882"
          cx="-86.103241"
          (click)="onClick(444.13882)"
        />
        <circle
          style="fill: #ffffff"
          id="circle110"
          r="6.0700002"
          cy="530.93884"
          cx="-86.103241"
          (click)="onClick(530.93884)"
        />
      </g>
    </g>
  </svg>
</div>
